.container {
  margin: auto;
  border: 2px solid black;
  width: 49%;
  height: 320px;
  display: flex;
  flex-flow: row wrap;
}
.node {
  background-image: linear-gradient(red, yellow);
  height: 150px;
  width: 150px;
  border: 1px solid white;
  margin-bottom: 0px;
}
img {
  margin: 0.5px;
  border: 1px solid white;
}
.hidden {
  display: none;
}
